@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.pokedex{
    background-color: #ff0000;
    width: 600px;
    height: 800px;
    border-radius: 10px;
}
.header{
    width: 100%;
    height: 10%;
    background-color: #8B0000;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.header .blue{
    width: 50px;
    height: 50px;
    background-color: #0DF6FA;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(61, 60, 60);
    margin-right:15px ;
    margin-left: 15px;
    animation: blink 1s ease-in-out infinite ;
}
.header .red, .green, .yellow{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.yellow{
    background-color: yellow;
    animation: yellowBlink 1s ease-in infinite;
}
.green{
    background-color: greenyellow;
    animation: greenBlink 1s ease-in infinite;
}
.red{
    background-color: red;
    animation: redBlink 1s ease-in infinite;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    width: 90%;
    height: 350px;
    background-image: url("/Resources/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 30px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.screen img{
    height: 40%;
    
}
.screen h1{
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 23px;
}
.screen .text{
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 15px;
    margin-right: 5px;
}
.screen #type{
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 12px;
}
.center h5{
    margin-top: 5px;
    text-align: center;
    font-family: 'Press Start 2P', Courier, monospace;
    font-size: 14px;

}
.center span{
    font-family:Courier, monospace;
    margin-right: 5px;
}
.submit{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.submit input{
    border: none;
    height: 30px;
    width: 80%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 1px px black;
    margin-bottom: 10px;
    text-align: center;
}
.submit-btn{
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #f7f4f4;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.buttons{
    display: flex;
    width: min-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.end{
    display: flex;
    justify-content:end;
    align-items: center;
    margin-right: 30px;
}
.end button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: large;
    color: #2e2e2e;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}
.end .first{
    background-color: green ;
}
.end .second{
    background-color: #ffff00 ;
}
.end .third{
    background-color: #3c00ff ;
    margin-left:40px ;
}
.end .fourth{
    background-color: rgb(215, 7, 7);
}
.img img{
    position: absolute;
    margin-top: -10px;
    width:300px;
}





/*KEYFRAMES*/

@keyframes blink {
    0%{
        background-color: #0DF6FA;
    }
    25%{
        background-color: #21D0EE;
    }
    50%{
        background-color: #1cb4cf
    }
    75%{
        background-color: #21D0EE;
    }
}

@keyframes redBlink {
    0%{
        background-color:red;
    }
    25%{
        background-color: rgb(237, 30, 30);
    }
    50%{
        background-color:rgb(242, 70, 70);
    }
    75%{
        background-color:  rgb(237, 30, 30);
    }
    100%{
        background-color: red;
    }
}
@keyframes greenBlink {
    0%{
        background-color:greenyellow;
    }
    25%{
        background-color: rgb(82, 131, 7);
    }
    50%{
        background-color:green;;
    }
    75%{
        background-color: rgb(82, 131, 7);
    }
    100%{
        background-color: greenyellow;
    }
}
@keyframes yellowBlink {
    0%{
        background-color:yellow;
    }
    25%{
        background-color: rgb(165, 165, 4);
    }
    50%{
        background-color:darkgoldenrod;
    }
    75%{
        background-color: rgb(165, 93, 4);
    }
    100%{
        background-color: yellow;
    }
}

.screen:hover{
    border: 30px solid rgb(124, 123, 123);
    
}

.submit-btn:hover, .submit-btn:focus{
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #d6c809 inset;
}

.end .first:hover{
    background-color: rgb(0, 155, 0);
}
.end .second:hover{
    background-color:  #f9f948
}
.end .third:hover{
    background-color: #5e30f7;
}
.end .fourth:hover{
    background-color:rgb(224, 39, 39);
}


/** MEDIA QUERY ***/

@media screen and (max-width: 560px) {
    .end button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-size: large;
        color: #2e2e2e;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
    }
    .img img{
        width:200px;
        margin: 0;
    }
    .center span{
        font-size: 12px
    };
}